# **Module 4 Project**
## **Jarrod Sims**

### Lists Practice

In [149]:
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

In [150]:
c[0], c[4]

(-45, 1543)

In [151]:
len(c)

5

In [152]:
c[-1], c[-5]

(1543, -45)

In [153]:
c[4] = 17
c

[-45, 6, 0, 72, 17]

In [154]:
s = 'hello'
s[0]

'h'

In [155]:
c[100]

IndexError: list index out of range

In [ ]:
c[0] + c[1] + c[2]

In [ ]:
a_list = []

for number in range(1, 16):
    a_list += [number]
a_list

In [ ]:
letters = []

letters += 'Python'

print(letters)
letters[1]

## **Jarrod Sims**

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50]

concatenated_list = list1 + list2
concatenated_list

In [ ]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]

a == b

In [ ]:
a == c

In [ ]:
a < c

In [ ]:
c >= b

In [ ]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cube_list(numbers)
numbers

In [ ]:
characters = []
characters += 'Birthday'

characters

## Tuples and Unpacking
## Jarrod Sims

In [ ]:
student_tuple = ()

student_tuple
()

len(student_tuple)
0

In [ ]:
student_tuple = 'John', 'Green', 3.3
student_tuple

In [ ]:
len(student_tuple)

In [ ]:
another_student_tuple = ('Mary', 'Red', 3.3)
another_student_tuple

In [ ]:
a_singleton_tuple = ('red',)
a_singleton_tuple

In [ ]:
time_tuple = (9, 16, 1)
time_tuple

In [ ]:
time_tuple[0] *3600 + time_tuple[1] * 60 + time_tuple[2]

In [ ]:
tuple1 = (10, 20, 30)
tuple2 = tuple1
tuple2

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers += (6,7)

numbers

## Jarrod Sims

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

In [ ]:
single = (123.45)
single

In [ ]:
[1, 2, 3] + (4, 5, 6)

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple
first_name

In [ ]:
grades

In [ ]:
first, second = 'hi'
print(f'{first} {second}')

In [ ]:
number1, number2, number3 = [2, 3, 5]
print(f' {number1} {number2} {number3}')

In [ ]:
number1, number2, number3 = range(10, 40, 10)
print(f' {number1} {number2} {number3}')

In [ ]:
number1 = 99
number2 = 22
number1, number2 = (number2, number1)
print(f'number1 = {number1}; number2 = {number2}')

## Jarrod Sims

In [156]:
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

TypeError: 'list' object is not callable

For some reason I am getting this type error in the notebook but not in an online compiler. See below. I believe I redefined 'list' somewhere above

In [ ]:
tuple(enumerate(colors))

![image](C:\Users\jarro\OneDrive\Documents\44-608\module4-project\list-tuple-compiler1.png)

## Jarrod Sims

In [ ]:
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}    Bar')

for index, value in enumerate(numbers):
      print(f'{index:>5}{value:>8}    {"*" * value}')

In [ ]:
high_low = ('Monday', 87, 65)
high_low

In [ ]:
print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

In [ ]:
day, high = high_low

In [ ]:
names = ['Amanda', 'Sam', 'David']
for i, name in enumerate(names):
    print(f'{i}: {name}')

## **Sequences (Lists and Tuples)**

## Jarrod Sims

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[2:6]

In [ ]:
numbers[:6]

In [ ]:
numbers[6:len(numbers)]

In [ ]:
numbers[:]

In [ ]:
numbers[::2]

In [ ]:
numbers[::-1]

In [ ]:
numbers[0:3] = ['two', 'three', 'five']
numbers

In [ ]:
numbers[0:3] = []
numbers

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[::2] = [100, 100, 100, 100]
numbers

In [ ]:
id(numbers)

## Jarrod Sims

In [ ]:
numbers[:] = []
numbers

In [ ]:
id(numbers)

In [ ]:
numbers = []
numbers

In [ ]:
id(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ,13, 14, 15, 16]
print(numbers)
print(numbers[1:len(numbers):2])
numbers[5:10] = [0] * len(numbers[5:10])
print(numbers)
numbers[5:] = []
print(numbers)
numbers[:] = []
print(numbers)

In [ ]:
numbers = list(range(0, 10))
numbers

In [157]:
list = list

In [158]:
numbers = list(range(0,10))
numbers

TypeError: 'list' object is not callable

moving to a new notebook file as I can't seem to resolve my redefining of list()!