# **Module 4 Project**
## **Jarrod Sims**

### Lists Practice

In [17]:
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

In [3]:
c[0], c[4]

(-45, 1543)

In [4]:
len(c)

5

In [5]:
c[-1], c[-5]

(1543, -45)

In [18]:
c[4] = 17
c

[-45, 6, 0, 72, 17]

In [19]:
s = 'hello'
s[0]

'h'

In [20]:
c[100]

IndexError: list index out of range

In [21]:
c[0] + c[1] + c[2]

-39

In [26]:
a_list = []

for number in range(1, 16):
    a_list += [number]
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [29]:
letters = []

letters += 'Python'

print(letters)
letters[1]

['P', 'y', 't', 'h', 'o', 'n']

'y'

## **Jarrod Sims**

In [31]:
list1 = [10, 20, 30]
list2 = [40, 50]

concatenated_list = list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

In [32]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [34]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]

a == b

True

In [35]:
a == c

False

In [36]:
a < c

True

In [37]:
c >= b

True

In [40]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cube_list(numbers)
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [41]:
characters = []
characters += 'Birthday'

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

## Tuples and Unpacking
## Jarrod Sims

In [42]:
student_tuple = ()

student_tuple
()

len(student_tuple)
0

0

In [44]:
student_tuple = 'John', 'Green', 3.3
student_tuple

('John', 'Green', 3.3)

In [45]:
len(student_tuple)

3

In [47]:
another_student_tuple = ('Mary', 'Red', 3.3)
another_student_tuple

('Mary', 'Red', 3.3)

In [51]:
a_singleton_tuple = ('red',)
a_singleton_tuple

('red',)

In [52]:
time_tuple = (9, 16, 1)
time_tuple

(9, 16, 1)

In [53]:
time_tuple[0] *3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [54]:
tuple1 = (10, 20, 30)
tuple2 = tuple1
tuple2

(10, 20, 30)

In [55]:
numbers = [1, 2, 3, 4, 5]
numbers += (6,7)

numbers

[1, 2, 3, 4, 5, 6, 7]

## Jarrod Sims

In [56]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [57]:
single = (123.45)
single

123.45

In [58]:
list = [1, 2, 3]
tuple = (4, 5, 6)
list + tuple

TypeError: can only concatenate list (not "tuple") to list

In [60]:
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple
first_name

'Amanda'

In [61]:
grades

[98, 85, 87]

In [63]:
first, second = 'hi'
print(f'{first} {second}')

h i

In [64]:
number1, number2, number3 = [2, 3, 5]
print(f' {number1} {number2} {number3}')

 2 3 5

In [66]:
number1, number2, number3 = range(10, 40, 10)
print(f' {number1} {number2} {number3}')

 10 20 30

In [67]:
number1 = 99
number2 = 22
number1, number2 = (number2, number1)
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Jarrod Sims

In [80]:
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

TypeError: 'list' object is not callable

For some reason I am getting this type error in the notebook but not in an online compiler. See below.

In [78]:
tuple(enumerate(colors))

TypeError: 'tuple' object is not callable

![image](C:\Users\jarro\OneDrive\Documents\44-608\module4-project\list-tuple-compiler1.png)

## Jarrod Sims

In [83]:
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}    Bar')

for index, value in enumerate(numbers):
      print(f'{index:>5}{value:>8}    {"*" * value}')

Creating a bar chart from numbers:
Index   Value    Bar
    0      19    *******************
    1       3    ***
    2      15    ***************
    3       7    *******
    4      11    ***********

In [84]:
high_low = ('Monday', 87, 65)
high_low

('Monday', 87, 65)

In [85]:
print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

Monday: High=87, Low=65

In [86]:
day, high = high_low

ValueError: too many values to unpack (expected 2)

In [87]:
names = ['Amanda', 'Sam', 'David']
for i, name in enumerate(names):
    print(f'{i}: {name}')

0: Amanda
1: Sam
2: David